body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 650px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 15px;
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display:block;
    font-size: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;
}

.button{
    display: grid;
    place-items: center;
}
button {
    align-self: center;
    width: 30%;
    font-size: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #38643b;
}

h5 {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

h5 a {
    color: #4CAF50;
    text-decoration: none;
}

h5 a:hover {
    text-decoration: underline;
}

